* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: sans-serif;
}

.lists {
    margin-top: -180px;
}

footer {
    margin: 50px 0;
    text-align: center; 
}